<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527391602129-ui98gp0sino990c6i8orgtucon0blfog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527391602129-ui98gp0sino990c6i8orgtucon0blfog</string>
	<key>API_KEY</key>
	<string>AIzaSyBvtgKjI4xYx8a3rFJdrSg3h-SzZ0rwKf8</string>
	<key>GCM_SENDER_ID</key>
	<string>527391602129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Bailey-Van-Wormer.create-</string>
	<key>PROJECT_ID</key>
	<string>createapp-adfb3</string>
	<key>STORAGE_BUCKET</key>
	<string>createapp-adfb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527391602129:ios:46a37108bf5653700f5cf0</string>
</dict>
</plist>